{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add Item</h2>
        <form action="/additem" method="post" class="input-form">
          <div class="input-form">
            <label for="title">Enter your to-do item: </label>
            <input type="text" name="item_to_add" id="name" required />
          </div>
          <div class="input form">
            <input type="submit" value="Add Item" />
          </div>
        </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To-do List</h2>
      <ul class="list-group mb-4">
          <ul>
            <li>
              {% for i in view_model.todo_items %}
                <h2>{{ i.name }} - {{ i.status }}</h2>
                  <div class="input-form">
                    {% if i.status != 'done' %}
                      <a href="{{ url_for('complete_task', id=i.id) }}" class="btn btn-sm btn-primary">Mark as Complete</a>
                      {% else %}
                        <a href="{{ url_for('back_todo', id=i.id) }}" class="btn btn-sm btn-primary">Move back todo</a>
                    {% endif %}
                  </div>
              {% endfor %}
            </li>
          </ul>
      </ul>
      <h2>Done List</h2>
      <ul class="list-group mb-4">
          <ul>
            <li>
              {% for i in view_model.done_items %}
                <h2>{{ i.name }} - {{ i.status }}</h2>
                  <div class="input-form">
                    {% if i.status != 'done' %}
                      <a href="{{ url_for('complete_task', id=i.id) }}" class="btn btn-sm btn-primary">Mark as Complete</a>
                      {% else %}
                        <a href="{{ url_for('back_todo', id=i.id) }}" class="btn btn-sm btn-primary">Move back todo</a>
                    {% endif %}
                  </div>
              {% endfor %}
            </li>
          </ul>
      </ul>
    </div>
  </div>
{% endblock %}